footer{
    padding: 60px;
    background-color: #90d4c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.options, .links{
    color: #428677;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.options a{
    font-size: 15px;
}

.links{
    gap: 20px;
}

.links img{
    cursor: pointer;
}



@media(min-width: 0px){
    .options, .links{
        gap: 10px;
    }
}

@media(min-width: 375px){
    .options, .links{
        gap: 40px;
    }

}